<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="welcome.css">
</head>
<body>
    <div class="row">
        <div class="col">
            <input type="image" name="pendulum" id="game1" src="pendulum.png" onclick="window.location.href = 'pendulum_game.html'" style="width:50%" >
        </div>
        <div class="col">
            <input type="image" name="ball" id="game2" src="ball.png" onclick="window.location.href = 'ball_game.html'" style="width:50%; margin-left:50%">
        </div>
        <div class="col">
            <input type="image" name="quotes" id="quotes" src="twitter.png" onclick="window.location.href = 'twitter_quotes.html'" style="width:50%">
        </div>
    </div>  
    
</body>
</html>